* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
}

.container {
    width: 80%;
    margin: auto;
}

.container.hidden {
    display: none;
} 

.image_container {
    width: 100%;
    height: 80vh;
}

.container .image_container img {
    height: 100%;
    width: 100%;
}

.container .movie_title {
    font-size: 50px;
    margin: 10px 0;
}

.container p {
    font-size: 20px;
}

.container #watch_Btn {
    background: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    margin: 15px 0px;
}

.container #watch_Btn:hover {
    background: #ff5900;
}

.video_container {
    position: relative;
    background: #000;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video_container.hidden {
    display: none;
}

.video_container video {
    outline: none;
    max-height: 90vh;
    max-width: 90%;
    margin: auto;
}

.video_container img {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}